In [248]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [252]:
hotelbooking_data = pd.read_csv("hotel_bookings.csv")

In [253]:
hotelbooking_data.head(10)

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.0,0,0,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.0,0,0,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,No Deposit,NaN,NaN,0,Transient,75.0,0,0,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,No Deposit,304.0,NaN,0,Transient,75.0,0,0,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,No Deposit,240.0,NaN,0,Transient,98.0,0,1,Check-Out,2015-07-03
5,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,No Deposit,240.0,NaN,0,Transient,98.0,0,1,Check-Out,2015-07-03
6,Resort Hotel,0,0,2015,July,27,1,0,2,2,...,No Deposit,NaN,NaN,0,Transient,107.0,0,0,Check-Out,2015-07-03
7,Resort Hotel,0,9,2015,July,27,1,0,2,2,...,No Deposit,303.0,NaN,0,Transient,103.0,0,1,Check-Out,2015-07-03
8,Resort Hotel,1,85,2015,July,27,1,0,3,2,...,No Deposit,240.0,NaN,0,Transient,82.0,0,1,Canceled,2015-05-06
9,Resort Hotel,1,75,2015,July,27,1,0,3,2,...,No Deposit,15.0,NaN,0,Transient,105.5,0,0,Canceled,2015-04-22

In [141]:
hotelbooking_data['deposit_type'].value_counts()

No Deposit    104641
Non Refund     14587
Refundable       162
Name: deposit_type, dtype: int64

### Empty and missing values
The most striking aspect of this dataset are the missing values for the "Company" feature

In [142]:
Company_Null = hotelbooking_data['company'].isnull().sum()
Company_NotNull = hotelbooking_data['company'].notnull().sum()
Total_Company = np.product(hotelbooking_data['company'].shape)

In [143]:
Company_NotNull

6797

In [144]:
Company_Null

112593

In [145]:
Total_Company

119390

Here we can see that a vast amount of the data in the feature "company" is missing meaning it will not be of much use for machine learning models which lead me to the decision of dropping it from the dataset.

In [146]:
Company_Null/Total_Company *100

94.30689337465449

In [254]:
hotelbooking_data.drop(['company'],axis =1 , inplace = True)

In [148]:
hotelbooking_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119390 entries, 0 to 119389
Data columns (total 31 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   hotel                           119390 non-null  object
 1   is_canceled                     119390 non-null  int64
 2   lead_time                       119390 non-null  int64
 3   arrival_date_year               119390 non-null  int64
 4   arrival_date_month              119390 non-null  object
 5   arrival_date_week_number        119390 non-null  int64
 6   arrival_date_day_of_month       119390 non-null  int64
 7   stays_in_weekend_nights         119390 non-null  int64
 8   stays_in_week_nights            119390 non-null  int64
 9   adults                          119390 non-null  int64
 10  children                        119386 non-null  float64
 11  babies                          119390 non-null  int64
 12  meal                            119390 non-null  object
 13  country                         118902 non-null  object
 14  market_segment                  119390 non-null  object
 15  distribution_channel            119390 non-null  object
 16  is_repeated_guest               119390 non-null  int64
 17  previous_cancellations          119390 non-null  int64
 18  previous_bookings_not_canceled  119390 non-null  int64
 19  reserved_room_type              119390 non-null  object
 20  assigned_room_type              119390 non-null  object
 21  booking_changes                 119390 non-null  int64
 22  deposit_type                    119390 non-null  object
 23  agent                           103050 non-null  float64
 24  days_in_waiting_list            119390 non-null  int64
 25  customer_type                   119390 non-null  object
 26  adr                             119390 non-null  float64
 27  required_car_parking_spaces     119390 non-null  int64
 28  total_of_special_requests       119390 non-null  int64
 29  reservation_status              119390 non-null  object
 30  reservation_status_date         119390 non-null  object
dtypes: float64(3), int64(16), object(12)
memory usage: 28.2+ MB

In [149]:
hotelbooking_data

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,booking_changes,deposit_type,agent,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,3,No Deposit,NaN,0,Transient,0.00,0,0,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,4,No Deposit,NaN,0,Transient,0.00,0,0,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,0,No Deposit,NaN,0,Transient,75.00,0,0,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,0,No Deposit,304.0,0,Transient,75.00,0,0,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,0,No Deposit,240.0,0,Transient,98.00,0,1,Check-Out,2015-07-03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,City Hotel,0,23,2017,August,35,30,2,5,2,...,0,No Deposit,394.0,0,Transient,96.14,0,0,Check-Out,2017-09-06
119386,City Hotel,0,102,2017,August,35,31,2,5,3,...,0,No Deposit,9.0,0,Transient,225.43,0,2,Check-Out,2017-09-07
119387,City Hotel,0,34,2017,August,35,31,2,5,2,...,0,No Deposit,9.0,0,Transient,157.71,0,4,Check-Out,2017-09-07
119388,City Hotel,0,109,2017,August,35,31,2,5,2,...,0,No Deposit,89.0,0,Transient,104.40,0,0,Check-Out,2017-09-07
119389,City Hotel,0,205,2017,August,35,29,2,7,2,...,0,No Deposit,9.0,0,Transient,151.20,0,2,Check-Out,2017-09-07

In [150]:
hotelbooking_data['reservation_status'].value_counts()

Check-Out    75166
Canceled     43017
No-Show       1207
Name: reservation_status, dtype: int64

In [235]:
Agent_NA = hotelbooking_data['agent'].isnull().sum()
Total_Agent = np.product(hotelbooking_data['agent'].shape)
Agent_NA

16340

In [152]:
hotelbooking_data['agent'].notnull().sum()

103050

In [153]:
Total_Agent

119390

Here we can see that only about 13% of thye Agent feature is empty which is a succifecnt amount to keep with the data set.
I will further investigate whether these values are genuine missing values or whether data has been missed or deleted.

In [154]:
Agent_NA/Total_Agent*100

13.686238378423655

Before deceding on whether to make fill in the empty values I need to invvestigate whether there patterns as to why there are empty values for the feature agent.

In [170]:
 hotelbooking_data[hotelbooking_data['agent'].isnull()][['agent','is_canceled','reservation_status','reservation_status_date']].sample(10)

        agent  is_canceled reservation_status reservation_status_date
19950     NaN            0          Check-Out              2016-04-11
94047     NaN            0          Check-Out              2017-03-14
82559     NaN            0          Check-Out              2016-01-02
31638     NaN            0          Check-Out              2017-01-02
78595     NaN            0          Check-Out              2016-10-19
94223     NaN            0          Check-Out              2016-12-27
110301    NaN            0          Check-Out              2017-04-25
39628     NaN            0          Check-Out              2017-08-24
11661     NaN            1           Canceled              2016-06-07
14914     NaN            0          Check-Out              2016-03-27

Here we acan see tha whether the agent feature of the dataset is empty it does not have an impact on other features such as the reservation date and reservation status. 

This has lead me to believe that these are geniunue missing values as an agent was not required when booking the hotel.

In [171]:
hotelbooking_data[hotelbooking_data['agent'].notnull()][['agent','is_canceled','reservation_status','reservation_status_date']].sample(10)

       agent  is_canceled reservation_status reservation_status_date
89720    9.0            0          Check-Out              2016-05-25
11374  177.0            1           Canceled              2016-11-02
78097    9.0            0          Check-Out              2015-10-04
4717   240.0            1           Canceled              2016-02-17
80197    9.0            0          Check-Out              2015-11-13
35800  385.0            0          Check-Out              2017-05-02
52046    8.0            0          Check-Out              2016-06-02
68977    9.0            1           Canceled              2017-05-10
82240    1.0            1           Canceled              2015-12-23
77457    9.0            0          Check-Out              2015-09-22

In [155]:
hotelbooking_data['reservation_status'].unique()

array(['Check-Out', 'Canceled', 'No-Show'], dtype=object)

Here I want to investigate further if there is a specific reason as to why there are empty values in the Agent feature.
This lead me to conclusion that there booking via an agent is not a fundamental part when booking a hotel.

In [205]:
hotelbooking_data['hotel'].unique()

array(['Resort Hotel', 'City Hotel'], dtype=object)

In [213]:
Hotel_AgentNA = hotelbooking_data[['hotel','agent','total_of_special_requests']]
Hotel_AgentNA.groupby('hotel').count()

              agent  total_of_special_requests
hotel
City Hotel    71199                      79330
Resort Hotel  31851                      40060

In [232]:
hotelbooking_data[hotelbooking_data['agent'].notna()][['total_of_special_requests']].count()

total_of_special_requests    103050
dtype: int64

In [233]:
hotelbooking_data[hotelbooking_data['agent'].isnull()][['total_of_special_requests']].count()

total_of_special_requests    16340
dtype: int64

There are only 4 empty values in the children feature.
Using my intiative we can come to a conclusion that if there are adults for these 4 empty children features we can assume that they did not book hotels with children as most children or babies are accompanied by an Adult.

In [72]:
hotelbooking_data.iloc[:,9:12].isnull().sum()

adults      0
children    4
babies      0
dtype: int64

This supports my intial claim that these adults may not have any children or babies at the time when making the hotel booking so the most appropriate action was to fill the empty values with 0

In [107]:
hotelbooking_data[hotelbooking_data['children'].isnull()][['adults','babies','children']].fillna(str(0))

       adults  babies children
40600       2       0        0
40667       2       0        0
40679       3       0        0
41160       2       0        0

To further support my claim majority of the bookings made adults did not have children or babies

In [73]:
hotelbooking_data['babies'].value_counts()

0     118473
1        900
2         15
10         1
9          1
Name: babies, dtype: int64

In [111]:
hotelbooking_data['children'].value_counts()

0.0     110796
1.0       4861
2.0       3652
3.0         76
10.0         1
Name: children, dtype: int64

### Removing unnecessary features. 

The following features basically contain the same information is duplicated
#### "arrival_date_year,	arrival_date_month,	arrival_date_day_of_month" and "reservation_status_date" 
 

Using pandas to_datetime which allows use to transform the data time from string to a Date time object which would be more effective when it comes to the analysis

In [255]:
hotelbooking_data.drop(['arrival_date_year', 'arrival_date_month', 'arrival_date_day_of_month'],axis =1,inplace =True)

In [256]:
hotelbooking_data.head()

,hotel,is_canceled,lead_time,arrival_date_week_number,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,meal,...,booking_changes,deposit_type,agent,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,0,342,27,0,0,2,0.0,0,BB,...,3,No Deposit,NaN,0,Transient,0.0,0,0,Check-Out,2015-07-01
1,Resort Hotel,0,737,27,0,0,2,0.0,0,BB,...,4,No Deposit,NaN,0,Transient,0.0,0,0,Check-Out,2015-07-01
2,Resort Hotel,0,7,27,0,1,1,0.0,0,BB,...,0,No Deposit,NaN,0,Transient,75.0,0,0,Check-Out,2015-07-02
3,Resort Hotel,0,13,27,0,1,1,0.0,0,BB,...,0,No Deposit,304.0,0,Transient,75.0,0,0,Check-Out,2015-07-02
4,Resort Hotel,0,14,27,0,2,2,0.0,0,BB,...,0,No Deposit,240.0,0,Transient,98.0,0,1,Check-Out,2015-07-03

In [258]:
hotelbooking_data['reservation_status_date'] = pd.to_datetime(hotelbooking_data['reservation_status_date'])

In [259]:
hotelbooking_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119390 entries, 0 to 119389
Data columns (total 28 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   hotel                           119390 non-null  object
 1   is_canceled                     119390 non-null  int64
 2   lead_time                       119390 non-null  int64
 3   arrival_date_week_number        119390 non-null  int64
 4   stays_in_weekend_nights         119390 non-null  int64
 5   stays_in_week_nights            119390 non-null  int64
 6   adults                          119390 non-null  int64
 7   children                        119386 non-null  float64
 8   babies                          119390 non-null  int64
 9   meal                            119390 non-null  object
 10  country                         118902 non-null  object
 11  market_segment                  119390 non-null  object
 12  distribution_channel            119390 non-null  object
 13  is_repeated_guest               119390 non-null  int64
 14  previous_cancellations          119390 non-null  int64
 15  previous_bookings_not_canceled  119390 non-null  int64
 16  reserved_room_type              119390 non-null  object
 17  assigned_room_type              119390 non-null  object
 18  booking_changes                 119390 non-null  int64
 19  deposit_type                    119390 non-null  object
 20  agent                           103050 non-null  float64
 21  days_in_waiting_list            119390 non-null  int64
 22  customer_type                   119390 non-null  object
 23  adr                             119390 non-null  float64
 24  required_car_parking_spaces     119390 non-null  int64
 25  total_of_special_requests       119390 non-null  int64
 26  reservation_status              119390 non-null  object
 27  reservation_status_date         119390 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(3), int64(14), object(10)
memory usage: 25.5+ MB

In [260]:
hotelbooking_data.to_csv('hotelbookingdata.csv',index= False)